// Colors
$white: #fff;
$black: #222;
$gray: #444;
$gray-light: #f7f4ff;
$gray-dark: #333;
$primary: #1d51fe;
$secondary: #917ffb;
$border: #cdd5ea;
$border-dark: #777;

// Transition
$veryslow: 3s;
$slow: 800ms;
$normal: 300ms;
$fast: 100ms;

// Containers
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Fonts
$kanit: "Kanit", sans-serif;
$dela: "Dela Gothic One", cursive;
